body{
	width: 100%;
	background: #14274e;
}

.container{
	width: 100%;
	background: white;
	margin-right: 150px;
	margin-left: 90px;
	margin-top: 90px;
	border-radius: 20px;
}

nav.menu{
	position: relative;
	float:right;
	justify-content: flex-end;
	display: inline;
	padding-right: 2%;
	padding-top: 2%;

}